@{
    ViewBag.Title = "Home Page";
}
<button type="button" class="btn btn-primary" onclick="refresh()">Refresh page</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Text</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in ViewBag.Message)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Date</td>
                    <td>@item.Text</td>
                </tr>
            }
        }
    </tbody>
</table>
<button type="button" class="btn btn-primary" disabled>Previous Page</button>
&nbsp;
@Html.ActionLink("Next Page", "Index2", "Home", new { pageNumber = Convert.ToInt32(Request.Params["pageNumber"]) + 1 }, new { @class = "btn btn-primary" })